<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coen268project">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.OneToOneChatActivity"></activity>
        <activity
            android:name=".View.ViewOrderActivity"
            android:label="View Orders" />
        <activity
            android:name=".View.UpdateBillingActivity"
            android:label="Update Billing Status" />
        <activity
            android:name=".View.ExploreBuyActivity"
            android:label="Item Information" />
        <activity
            android:name=".View.UpdateAdsActivity"
            android:label="Update Item" />
        <activity
            android:name=".View.MyOrdersActivity"
            android:label="My Orders" />
        <activity
            android:name=".View.MyBillingActivity"
            android:label="My Billing Information" />
        <activity
            android:name=".View.MyProfileActivity"
            android:label="My Profile" />
        <activity
            android:name=".View.Splash_screen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAu_oDSThjxtfDKk8-O-WqZDLmxtU2w19Q" />

        <activity
            android:name=".View.LocationFragment"
            android:label="Choose Location" />
        <activity
            android:name=".View.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.SellFragment"
            android:label="Choose Furniture" />
        <activity
            android:name=".View.UploadFragment"
            android:label="Choose Image" />
        <activity
            android:name=".View.ForgotPasswordActivity"
            android:label="Forgot Password" />
        <activity
            android:name=".View.SignUpActivity"
            android:label="Sign Up" />
        <activity android:name=".View.Chat.ChatActivity" />
        <activity android:name=".View.Chat.MessageAdapter" />
        <activity
            android:name=".View.MainActivity"
            android:label="Buy-Rona"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>